@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* hides scrollbar */
body {
    overflow-x: hidden;
    background-color: #1D2123;
    font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.body {
    display: flex;
    justify-content: flex-start;
}

/* left nav styling */
.navigation-section {
    height: 55vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 5px;
    position: fixed;
    z-index: 30;
    padding-right: 20px;
}

.logo-container {
    padding: 10px 6px;
    margin-bottom: 0px;
}
.logo-container img {
    width: 1.7em;
    cursor: pointer;
}

/* second div on the left nav */
.nav-1,
.nav-2
 {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #1A1E1F;
    border-radius: 20px;
}
.nav-1 img {
    width: 2em;
    margin: 10px 0;
}
.nav-1 img:nth-child(2),
.nav-1 img:nth-child(3),
.nav-1 img:nth-child(4),
.nav-2 img
 {
    width: 1.3em;
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
/* third div on the left nav */
.nav-2 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.nav-2 img:nth-child(2) {
    width: 1.2em;
    margin-left: 8px;
}



.body-section {
    width: 100%;
    /* padding-left: 7%; */
}
/* search-section styling */
.search-section {
    padding-left: 7%;
    position: sticky;
    top: -11px;
}
label {
    position: relative;
}
  
label:before {
    content: "";
    position: absolute;
    left: 50px;
    top: 2px;
    bottom: 1px;
    width: 30px;
    background: url("img/home/search.svg") center / contain no-repeat;
}
.search-section input {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    padding: 10px;
    padding-left: 60px;
    width: 95%;
    border: none;
    background-color: #1D2123;
    margin-top: 0px;
    height: 55px;
}
.search-section input::placeholder {
    font-size: 12px;
}





.hero-section {
    padding-left: 7%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px 30px;
}

.left-container {
    background-image: url(/img/home/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    width: 50%;
    height: 45vh;
}

.L-container {
    margin: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}

.L-container p:nth-child(1) {
    font-size: 11px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 40px;
}

.L-container h1 {
    font-size: 25px;
    color: #fff;
}

.L-container p:nth-child(2) {
    font-size: 12px;
    color: #fff;
    width: 238px;
}
.likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    margin-top: 30px;
    margin-bottom: -30px;
}
.likes p {
    font-size: 11px;
    font-weight: lighter;
    color: #fff;
}


.right-container {
    margin-left: 2%;
    width: 24%;
}
.right-container h1 {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}
.charts-container .c-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-div div {
    margin-left: 15px;
}
.heart {
    width: 18px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 30px;
}
.c-div h3,
.c-div h5,
.c-div p
 {
    color: #fff;
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 20px;
}
.c-div h5 {
    color: rgba(255, 255, 255, 0.5);
}
.charts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140%;
    margin: 15px;
    padding: 15px 16px;
    padding-right: 18px;
    border-radius: 20px;
    background-color: #1A1E1F;
}
.c-div img {
    width: 60px;
    border-radius: 10px;
}


/* new releases section */
.new-releases {
    padding-left: 7%;
    margin-top: 20px;
    margin-left: 30px;
}
.new-releases h1 {
    color: #fff;
}
.new-releases div {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    width: 88%;
}
.new-releases div::-webkit-scrollbar {
    display: none;
}
figure img {
    border-radius: 30px;
    width: 153px;
    margin-right: 40px;
}
.tweak {
    height: 153px;
}
.figcaption-1 {
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
}
.figcaption-2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-weight: lighter;
    margin-top: 5px;
}



/* controllers section */
.controllers {
    position: sticky;
    bottom: -100px;
    width: 100%;
    bottom: 0px;
    left: -5px;
    top: 610px;
    /* border-top: 1px solid rgba(16, 16, 16, 0.51); */
    /* background-color: rgba(0, 0, 0, 0.61); */
    backdrop-filter: blur(16px);
    filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51));
}
.controller-container {
    padding: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87.5%;
}
.left-controller {
    width: 11%;
    display: flex;
    align-items: center;
    margin-left: 8%;
}
.left-controller div {
    margin-bottom: 10px;
}
.left-controller h4,
.left-controller p 
{
    font-size: 13px;
    color: #FFFFFF;
}
.left-controller p {
    font-size: 11px;
    font-weight: lighter;
}
.left-controller img {
    width: 32%;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;
}
.controls {
    display: flex;
    align-items: center;
    gap: 92px;
}
.middle-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-controller img {
    cursor: pointer;
}
.play-btn {
    padding: 10px;
    background-color: #FACD66;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px #FACD66;
}
.range-1 {
    width: 850px;
    margin-top: 30px;
}
.right-controller div {
    display: flex;
    align-items: center;
    width: 100%;
}
input[type="range"]:nth-child(1) {
    -webkit-appearance: none;
    margin-right: 15px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#FACD66, #FACD66);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
input[type="range"]:nth-child(1)::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background: #FACD66;
    /* cursor: ew-resize; */
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.04);;
    /* transition: background .3s ease-in-out; */
  }