@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* hides scrollbar */
body {
    background-color: #1D2123;
    font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.body {
    display: flex;
    justify-content: flex-start;
}

/* left nav styling */
.navigation-section {
    width: 7%;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 5px;
    /* position: fixed; */
}

.logo-container {
    width: 10%;
    padding: 12px 6px;
    margin-bottom: 10px;
}
.logo-container img {
    width: 1.7em;
    cursor: pointer;
}

/* second div on the left nav */
.nav-1,
.nav-2
 {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #1A1E1F;
    border-radius: 20px;
}
.nav-1 img {
    width: 2em;
    margin: 10px 0;
}
.nav-1 img:nth-child(2),
.nav-1 img:nth-child(3),
.nav-1 img:nth-child(4),
.nav-2 img
 {
    width: 1.3em;
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
/* third div on the left nav */
.nav-2 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.nav-2 img:nth-child(2) {
    width: 1.2em;
    margin-left: 8px;
}



.body-section {
    width: 100%;
}
/* search-section styling */
.search-section {
    position: sticky;
    margin-left: 20px;
}
label {
    position: relative;
}
  
label:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    bottom: 1px;
    width: 30px;
    background: url("img/home/search.svg") center / contain no-repeat;
}
.search-section input {
    padding: 10px;
    width: 95%;
    border: none;
    background-color: #1D2123;
    margin-top: 10px;
}





.hero-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.left-container {
    background-image: url(/img/home/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    width: 50%;
    height: 45vh;
}

.L-container {
    margin: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}

.L-container p:nth-child(1) {
    font-size: 11px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 40px;
}

.L-container h1 {
    font-size: 25px;
    color: #fff;
}

.L-container p:nth-child(2) {
    font-size: 12px;
    color: #fff;
    width: 238px;
}
.likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    margin-top: 30px;
    margin-bottom: -30px;
}
.likes p {
    font-size: 11px;
    font-weight: lighter;
    color: #fff;
}


.right-container {
    margin-left: 2%;
    width: 24%;
}
.right-container h1 {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}
.charts-container .c-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-div div {
    margin-left: 15px;
}
.heart {
    width: 18px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 30px;
}
.c-div h3,
.c-div h5,
.c-div p
 {
    color: #fff;
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 20px;
}
.c-div h5 {
    color: rgba(255, 255, 255, 0.5);;
}
.charts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140%;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: #1A1E1F;
}
.c-div img {
    width: 60px;
}