@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* hides scrollbar */
body {
    overflow-x: hidden;
    background-color: #1D2123;
    font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.body {
    display: flex;
    justify-content: flex-start;
}

/* left nav styling */
.navigation-section {
    z-index: 30;
    height: 55vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 20px 0 12px;
}

.logo-container {
    padding: 10px 6px;
    margin-bottom: 0px;
}
.logo-container img {
    width: 1.7em;
    cursor: pointer;
}
.logo-container img:nth-child(1) {
    display: none;
}

/* second div on the left nav */
.nav-1,
.nav-2
 {
    display: flex;
    padding: 20px 10px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #1A1E1F;
}
.nav-1 img {
    width: 2em;
    margin: 10px 0;
}
.nav-1 img:not(:first-child),
.nav-2 img
 {
    width: 1.3em;
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;   
}
.nav-1 a:not(:first-child) {
    font-size: 0.7em;
    margin-left: 5px;
}
.nav-1 a:nth-child(1) {
    font-size: 1em;
}
.nav-1 a p,
.nav-2 a p 
 { 
    display: none;
}
/* third div on the left nav */
.nav-2 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.nav-2 img:nth-child(2) {
    width: 1.2em;
    margin-left: 8px;
}






.body-section {
    width: 100%;
}
/* search-section styling */
.search-section {
    padding-left: 7%;
    position: sticky;
    top: -11px;
}
label {
    position: relative;
}
  
label:before {
    content: "";
    left: 50px;
    top: 2px;
    bottom: 1px;
    width: 30px;
    position: absolute;
    background: url("/img/home/search.svg") center / contain no-repeat;
}
.search-section input {
    width: 95%;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 0px 0 0 30px;
    padding-left: 60px;
    height: 55px;
    background-color: #1D2123;
}
.search-section input::placeholder {
    font-size: 12px;
}





/* below search bar */
.hero-section {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 7%;
    margin: 0px 30px;
}

.left-container {
    background-image: url(/img/home/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    height: 45vh;
    width: 50%;
}

.L-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 40px 0px 40px;
}

.L-container p:nth-child(1) {
    color: #fff;
    font-size: 11px;
    margin-bottom: 40px;
    font-weight: lighter;
}

.L-container h1 {
    color: #fff;
    font-size: 25px;
}

.L-container p:nth-child(2) {
    width: 238px;
    color: #fff;
    font-size: 12px;
}
.L-container .likes {
    width: 23%;
    display: flex;
    align-items: center;
    margin: 30px 0 -30px;
    justify-content: space-between;   
}
.L-container .likes p {
    color: #fff;
    font-size: 11px;
    font-weight: lighter;
}


/* right side of the hero section */
.right-container {
    width: 24%;
    margin-left: 2%;
}
.right-container h1 {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0 0 20px;
}
.charts-container .c-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-div div {
    margin-left: 15px;
}
.heart {
    width: 18px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 30px;
}
.c-div h3,
.c-div h5,
.c-div p
 {
    color: #fff;
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 20px;
}
.c-div a {
    text-decoration: none;
    color: #fff;
}
.c-div h5 {
    color: rgba(255, 255, 255, 0.5);
}
.charts-container {
    width: 140%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 18px 15px 16px;
    background-color: #1A1E1F;
    border-radius: 20px;
}
.c-div img {
    width: 60px;
    border-radius: 10px;
}


/* new releases section */
.new-releases {
    padding-left: 7%;
    margin: 20px 0 0 30px;
}
.new-releases h1 {
    color: #fff;
}
.new-releases div {
    width: 88%;
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
}
.new-releases div::-webkit-scrollbar {
    display: none;
}
figure img {
    width: 153px;
    border-radius: 30px;
    margin-right: 40px;
}
.tweak {
    height: 153px;
}
.figcaption-1 {
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
}
.figcaption-2 {
    font-size: 10px;
    margin-top: 5px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}



/* controllers section */
.controllers {
    left: -5px;
    top: 610px;
    width: 100%;
    bottom: 0px;
    position: sticky;
    backdrop-filter: blur(16px);
    filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51));
}
.controller-container {
    width: 87.5%;
    padding: 20px;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
}
.left-controller {
    width: 11%;
    display: flex;
    margin-left: 9%;
    align-items: center;
}
.left-controller div {
    margin-bottom: 10px;
}
.left-controller h4,
.left-controller p 
{
    font-size: 13px;
    color: #FFFFFF;
}
.left-controller p {
    font-size: 11px;
    font-weight: lighter;
}
.left-controller img {
    width: 32%;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;
}
.controls {
    gap: 92px;
    display: flex;
    align-items: center;
}
.middle-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-controller img {
    cursor: pointer;
}
.play-btn {
    padding: 10px;
    border-radius: 20px;
    background-color: #FACD66;
    box-shadow: 1px 1px 20px 1px #FACD66;
}
.range-1 {
    width: 850px;
    margin-top: 30px;
}
input[type="range"]:nth-child(1) {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.04);
    background-image: linear-gradient(#FACD66, #FACD66);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
input[type="range"]:nth-child(1)::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FACD66;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.04);
}
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.right-controller div {
    width: 100%;
    display: flex;
    align-items: center;
}
.right-controller div img {
    margin-right: 10px;
}
input[type="range"]:nth-child(2) {
    -webkit-appearance: none;
    height: 3px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.04);
    background-image: linear-gradient(#FACD66, #FACD66);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
input[type="range"]:nth-child(2)::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FACD66;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.04);
}







/* media query */

/* iphone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

    .logo-container {
        display: flex;
        padding-top: 12px;
    }
    .logo-container img:nth-child(1) {
        display: block;
        width: 5%;
        height: 60%;
        margin: 6px 10% 0 4%;
    }
    .search-section {
        padding-left: 10%;
    }
    .search-section input {
        width: unset;
    }
    label:before {
        left: 95%;    
    }
    .search-section input:focus {
        border: none;
        outline: none;
    }
    .search-section input::placeholder {
        color: transparent;
    }
    .navigation-section {
        position: absolute;
        width: 100%;
        padding: 0;
        justify-content: unset;
    }
    .nav-1, .nav-2 {
        display: none;
        border-radius: unset;
    }

    .nav-1 a,
    .nav-2 a
     {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .nav-2 a {
        align-items: unset;
    }

    .nav-1 a p,
    .nav-2 a p {
        font-size: 1.1em;
        display: block;
        margin-left: 10%;
        text-decoration: none;
        color: #fff
    }
    .nav-1 a:nth-child(1) p {
        font-size: 0.8em;
        margin-left: 9%;
    }
    .nav-2 img {
        margin-bottom: 20px;
    }


    .nav-1, .nav-2 {
        padding: 30px 10vh 20px 10px;
    }

    .visible {
        display: block;
    }

    .background-color {
        background-color: #1A1E1F;
    }












    .search-section {
        position: unset;
    }
    .hero-section {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: unset;
    }
    .left-container {
        width: 90%;
        height: 60vh;
        border-radius: 20px;
        margin: 10px 20px;
        background-image: url(/img/home/mobileBackground.jpg);
        background-position: center;
    }
    .L-container {
        height: 47vh;
        margin: 40px 30px 0px 30px;
    }
    .L-container .likes {
        width: 50%;
    }
    .L-container p:nth-child(1) {
        margin-top: -10px;
        font-weight: lighter;
    }
    .L-container div:nth-child(2) {
        margin-bottom: -170px;
    }
    .L-container div:nth-child(2) p {
        font-weight: lighter;
        line-height: 16px;
        font-size: 12px;
    }
    .L-container div:nth-child(2) h1 {
        font-size: 35px;
    }



    .right-container {
        width: 100%;
    }
    .right-container2 {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .charts-container {
        height: 20vh;
        width: 200%;
        align-items: unset;
    }
    .charts-container .c-div {
        align-items: unset;
        justify-content: unset;
    }
    .c-div {
        width: 200px;
        flex-direction: column;
    }
    .c-div img {
        width: 45%;
        border-radius: 15px;
    }
    .c-div div {
        margin: 10px 0;
    }
    .c-div h5 {
        font-size: 10px;
    }
    .c-div p {
        margin-top: 5px;
        font-size: 11px;
    }
    .heart {
        margin-top: 0;
    }



    .new-releases {
        margin: 0;
    }
    .new-releases div {
        width: 100%;
    }



    .shuffle-btn,
    .repeat-btn,
    .range-1,
    .range-2,
    .volume-btn
     {
        display: none;
    }

    .middle-controller {
        display: block;
    }

    .controllers {
        position: fixed;
        top: 635px;
    }

    .controls {
        gap: 10px;
    }
    .left-controller {
        width: 100%;
    }
    .left-controller img {
        width: unset;
    }

    .right-controller {
        display: none;
    }
}

/* iphone 8 */

@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 

    .logo-container {
        display: flex;
        padding-top: 12px;
    }
    .logo-container img:nth-child(1) {
        display: block;
        width: 5%;
        height: 60%;
        margin: 6px 10% 0 4%;
    }
    .search-section {
        padding-left: 10%;
    }
    .search-section input {
        width: unset;
    }
    label:before {
        left: 95%;    
    }
    .search-section input:focus {
        border: none;
        outline: none;
    }
    .search-section input::placeholder {
        color: transparent;
    }
    .navigation-section {
        position: absolute;
        width: 100%;
        padding: 0;
        justify-content: unset;
    }
    .nav-1, .nav-2 {
        display: none;
        border-radius: unset;
    }

    .nav-1 a,
    .nav-2 a
        {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .nav-2 a {
        align-items: unset;
    }

    .nav-1 a p,
    .nav-2 a p {
        font-size: 1.1em;
        display: block;
        margin-left: 10%;
        text-decoration: none;
        color: #fff
    }
    .nav-1 a:nth-child(1) p {
        font-size: 0.8em;
        margin-left: 9%;
    }
    .nav-2 img {
        margin-bottom: 20px;
    }


    .nav-1, .nav-2 {
        padding: 30px 10vh 20px 10px;
    }

    .visible {
        display: block;
        transition: 2s ease-in-out;
    }

    .background-color {
        background-color: #1A1E1F;
    }












    .search-section {
        position: unset;
    }
    .hero-section {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: unset;
    }
    .left-container {
        width: 90%;
        height: 60vh;
        border-radius: 20px;
        margin: 10px 20px;
        background-image: url(/img/home/mobileBackground.jpg);
        background-position: center;
    }
    .L-container {
        height: 47vh;
        margin: 40px 30px 0px 30px;
    }
    .L-container .likes {
        width: 50%;
    }
    .L-container p:nth-child(1) {
        margin-top: -10px;
        font-weight: lighter;
    }
    .L-container div:nth-child(2) {
        margin-bottom: -170px;
    }
    .L-container div:nth-child(2) p {
        font-weight: lighter;
        line-height: 16px;
        font-size: 12px;
    }
    .L-container div:nth-child(2) h1 {
        font-size: 35px;
    }



    .right-container {
        width: 100%;
    }
    .right-container2 {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .charts-container {
        height: 20vh;
        width: 200%;
        align-items: unset;
    }
    .charts-container .c-div {
        align-items: unset;
        justify-content: unset;
    }
    .c-div {
        width: 200px;
        flex-direction: column;
    }
    .c-div img {
        width: 35%;
        border-radius: 15px;
    }
    .c-div div {
        margin: 10px 0;
    }
    .c-div h5 {
        font-size: 9px;
    }
    .c-div p {
        margin-top: 0px;
        font-size: 7px;
    }
    .heart {
        margin-top: 0;
    }



    .new-releases {
        margin: 0;
    }
    .new-releases div {
        width: 100%;
    }



    .shuffle-btn,
    .repeat-btn,
    .range-1,
    .range-2,
    .volume-btn
        {
        display: none;
    }

    .middle-controller {
        display: block;
    }

    .controllers {
        position: fixed;
        top: 600px;
    }

    .controls {
        gap: 10px;
    }
    .left-controller {
        width: 100%;
    }
    .left-controller img {
        width: unset;
    }

    .right-controller {
        display: none;
    }
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
    
    .logo-container {
        display: flex;
        padding-top: 12px;
    }
    .logo-container img:nth-child(1) {
        display: block;
        width: 5%;
        height: 60%;
        margin: 6px 10% 0 4%;
    }
    .search-section {
        padding-left: 10%;
    }
    .search-section input {
        width: unset;
    }
    label:before {
        left: 95%;    
    }
    .search-section input:focus {
        border: none;
        outline: none;
    }
    .search-section input::placeholder {
        color: transparent;
    }
    .navigation-section {
        position: absolute;
        width: 100%;
        padding: 0;
        justify-content: unset;
    }
    .nav-1, .nav-2 {
        display: none;
        border-radius: unset;
    }

    .nav-1 a,
    .nav-2 a
        {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .nav-2 a {
        align-items: unset;
    }

    .nav-1 a p,
    .nav-2 a p {
        font-size: 1.1em;
        display: block;
        margin-left: 10%;
        text-decoration: none;
        color: #fff
    }
    .nav-1 a:nth-child(1) p {
        font-size: 0.8em;
        margin-left: 9%;
    }
    .nav-2 img {
        margin-bottom: 20px;
    }


    .nav-1, .nav-2 {
        padding: 30px 10vh 20px 10px;
    }

    .visible {
        display: block;
    }

    .background-color {
        background-color: #1A1E1F;
    }












    .search-section {
        position: unset;
    }
    .hero-section {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: unset;
    }
    .left-container {
        width: 90%;
        height: 60vh;
        border-radius: 20px;
        margin: 10px 20px;
        background-image: url(/img/home/mobileBackground.jpg);
        background-position: center;
    }
    .L-container {
        height: 47vh;
        margin: 40px 30px 0px 30px;
    }
    .L-container .likes {
        width: 50%;
    }
    .L-container p:nth-child(1) {
        margin-top: -10px;
        font-weight: lighter;
    }
    .L-container div:nth-child(2) {
        margin-bottom: -170px;
    }
    .L-container div:nth-child(2) p {
        font-weight: lighter;
        line-height: 16px;
        font-size: 12px;
    }
    .L-container div:nth-child(2) h1 {
        font-size: 35px;
    }



    .right-container {
        width: 100%;
    }
    .right-container2 {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .charts-container {
        height: 20vh;
        width: 200%;
        align-items: unset;
    }
    .charts-container .c-div {
        align-items: unset;
        justify-content: unset;
    }
    .c-div {
        width: 200px;
        flex-direction: column;
    }
    .c-div img {
        width: 35%;
        border-radius: 15px;
    }
    .c-div div {
        margin: 10px 0;
    }
    .c-div h5 {
        font-size: 9px;
    }
    .c-div p {
        margin-top: 0px;
        font-size: 7px;
    }
    .heart {
        margin-top: 0;
    }



    .new-releases {
        margin: 0;
    }
    .new-releases div {
        width: 100%;
    }



    .shuffle-btn,
    .repeat-btn,
    .range-1,
    .range-2,
    .volume-btn
        {
        display: none;
    }

    .middle-controller {
        display: block;
    }

    .controllers {
        position: fixed;
        top: 600px;
    }

    .controls {
        gap: 10px;
    }
    .left-controller {
        width: 100%;
    }
    .left-controller img {
        width: unset;
    }

    .right-controller {
        display: none;
    }
}