@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* hides scrollbar */
body {
    overflow-x: hidden;
    background-color: #1D2123;
    font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.body {
    display: flex;
    justify-content: flex-start;
}

/* left nav styling */
.navigation-section {
    z-index: 30;
    height: 55vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 20px 0 12px;
}

.logo-container {
    padding: 10px 6px;
    margin-bottom: 0px;
}
.logo-container img {
    width: 1.7em;
    cursor: pointer;
}

/* second div on the left nav */
.nav-1,
.nav-2
 {
    display: flex;
    padding: 20px 10px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #1A1E1F;
}
.nav-1 img {
    width: 2em;
    margin: 10px 0;
}
.nav-1 img:not(:first-child),
.nav-2 img
 {
    width: 1.3em;
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;   
}
.nav-1 a:not(:first-child) {
    font-size: 0.7em;
    margin-left: 5px;
}
.nav-1 a:nth-child(1) {
    font-size: 1em;
}
/* third div on the left nav */
.nav-2 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.nav-2 img:nth-child(2) {
    width: 1.2em;
    margin-left: 8px;
}